{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini SNS</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">

{% if user.is_authenticated %}
  <p>こんにちは {{ user.username }} さん！
  <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
     ログアウト
   </a>

   <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
     {% csrf_token %}
   </form>
  </p>
  
{% else %}
  <a href="{% url 'login' %}">ログイン</a> |
  <a href="{% url 'signup' %}">新規登録</a>
{% endif %}
<hr>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}<li class="{{ message.tags }}">{{ message }}</li>{% endfor %}
  </ul>
{% endif %}

{% block content %}{% endblock %}

{% block show_gif %}
<div class="corner-gif">
  <img src="{% static 'core/blue-archive-alice.gif' %}" alt="alice">
  <span class="tooltip">You caught me!</span>
</div>
{% endblock %}

</body>
</html>
